<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Deployment Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🎉 Congratulations! 🎉</h1>
        <p>You have successfully run your site using a Docker container</p>
        <div class="hero-img">
            <img src="{{ url_for('static', filename='images/docker.png') }}" alt="Docker Logo">
        </div>
        <a href="https://www.docker.com/resources/what-container/" target="_blank" class="btn">
            Learn More About Docker
        </a>
    </div>
    <footer>
        © 2025 - Jeevisoft Technology Pvt.Ltd.
</body>
</html>
